.
.sliders{
    width: 100px;
    height: 100px;
    position: relative;
    justify-content: center;
    background: blue;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0,0.2);
    display: flex;
    /* overflow: hidden; */
}
.sliding{
    height:100px;
    display: flex;
    align-items: center;
    animation: slideshow 8s "linear infinite" ;
}
.sliding img{
    height: 70px;
    padding: 0 30px 0 30px;
}
@keyframes slideshow {
    0% {transform:translateX(0) ;}
    100%{transform: translateX(-100%);}
    
}
