.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sliders{
    width: 200px;
    height: 200px;
    position: relative;
    justify-content: center;
    
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0,0.2);
    display: flex;
    /* overflow: hidden; */
}
.sliding{
    height:200px;
    display: flex;
    align-items: center;
    animation: slideshow 8s "linear infinite" ;
}
.sliding img{
    height: 0px;
    padding: 0 30px 0 30px;
}
@keyframes slideshow {
    0% {transform:translateX(0) ;}
    100%{transform: translateX(-100%);}
    
}
